.themo-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 321px;
    overflow: hidden;
    transform: translateX(144px);
    // position: relative;
    // z-index: -99;
    .indics{
        background-color: var(--mainColor);
        color: white;
        font-size: 22px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        cursor: pointer;
    }
    .popmenu{
        background-color: var(--cardbgColor);
        // padding: 8px;
        padding-top: 12px;
        height: 321px;
        // width: 0;
        // transform: scale(0);
        // animation-duration: 1s;
        // animation-fill-mode: forwards;
        // transform-origin: right;
        overflow: hidden;
        // position: relative;
        
        ul{
            height: 100%;
            li{
                padding: 10px;
                padding-right: 20px;
                text-align: left;
                border: 1px solid transparent;
                cursor: pointer;
                &:hover{
                    transition: all 0.3s;
                    background-color: var(--backgroundColor);
                }
                
            }
        }
    }

}
// @keyframes openpop{
//     0%{width: 0;transform: scale(0);}
//     100%{width: 100%;transform: scale(1);}

// }
// @keyframes closepop{
//     0%{width: 100%;transform: scale(1);}
//     100%{width: 0;transform: scale(0);}
    
// }