ul{
    list-style: none;
}
#personalhead{
    color: var(--mainText);
}
.p-relative{
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 40px;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2.5px;
        width: 200px;
        background-color: var(--mainColor);
    }
}
.cmo{
    color: var(--mainColor);
}
.tecmo{
    color: var(--subText);
}
.spero{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 4.5px;
        left: 0;
        border: 1px solid var(--mainColor);
        height: 13px;
        width: 18px;
        border-radius: 263px;
        background-color: transparent;
        animation-name: rounding;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
